:root {
  --secondary-color: #f4f5f6;
  --border-color: #e1e2e3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example {
  display: flex;
  gap: 40px;
}

.example > * {
  flex: 1 0 0;
}

.item {
  padding: 6px 16px;
  background: var(--secondary-color);
  border-width: 1px 1px 0 1px;
  border-color: var(--border-color);
  border-style: solid;
}

.item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item:last-child {
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nested {
  background: #ccc;
}

.nested .nested {
  background: #aaa;
}

.nested .nested .nested {
  background: #888;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  text-align: center;
  background: var(--secondary-color);
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
}

